.loader {
  position: fixed;
  width: 100%;
  top: 78px;
  z-index: 999;
}

.search-container {

  margin-top: 100px !important;

  .search-btn {
    background-color: black;
    color: white;
  }


  .search-table {
    overflow: auto;

    .mat-row {
      cursor: pointer;

      &:hover:not(.no-data) {
        background-color: rgba(100, 148, 237, 0.157);
      }
    }
  }

  .empty-container {
    padding: 150px 20px;

    font-size: 30px;
    color: gray;
  }

}